.Main {
    text-align: center;
    align-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    background-color: #eeefee;
  }
  
  
  .Login {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .LoginHeader {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    align-content: center;
  }
  
  .inputs {
    padding: 20px;
  }
  
  .or {
    color: white;
  }
  
  .username {
    width: 30%;
    height: 40px;
    border-width: 1;
    margin-bottom: 10px;
    border-color: #f79110;
    background: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  
  .password {
    width: 30%;
    height: 40px;
    border-color: #f79110;
    background: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  
  .login {
    width: 210px;
    height: 45px;
    border-radius: 20px;
    background-color: #f79110;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
    font-family: "Helvetica", sans-serif;
    border-color: #f79110;;
  }
  
  .createnew {
    width: 210px;
    height: 45px;
    border-radius: 20px;
    background-color: #f79110;
    color: #ffff;
    font-family: "Helvetica", sans-serif;
    border-color: #f79110;
    margin-top: 5px;
  
  }
  
  .login:hover {
    background-color: #CD7607;
  }
  
  .createnew:hover {
    background-color: #CD7607;
  }
  
  
  .register {
    text-align: center;
    align-content: center;
    background-size: cover;
  }

  .circle {
    position: absolute;
    width: 200px;
    height: 1000px;
    left: 100px;
    top: 125px;
  }