.customer {
    text-align: center;
    align-content: center;
  }
  
  .CusHeader{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    align-content: center;
  }
  
  .inputs{
    padding: 20px;
  }
  
  
  .usernamee{
    width: 25%;
    height: 40px;
    border-width: 1;
    margin-top: 50  px;
    border-color: #28381F;
    background: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  
  .firstname{
    width: 25%;
    height: 40px;
    border-width: 1;
    border-color: #28381F;
    background: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  
  .lastname{
    width: 25%;
    height: 40px;
    border-width: 1;
    border-color: #28381F;
    background: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }

  .address{
    width: 25%;
    height: 40px;
    border-width: 1;
    border-color: #28381F;
    background: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }

  .salary{
    width: 25%;
    height: 40px;
    border-width: 1;
    border-color: #28381F;
    background: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  
  .passwordd{
    width: 25%;
    height: 40px;
    border-color: #28381F;
    background: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  
  .reenter{
    width: 25%;
    height: 40px;
    border-width: 1;
    border-color: #28381F;
    background: transparent;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  
  .registerr{
    width: 210px;
    height: 45px;
    border-radius: 20px;
    background-color: #f79110;
    margin-top: 5px;
    margin-bottom: 15px;
    color: white;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    border-color: #f79110;
  }
  
  
  .registerr:hover{
    background-color: #CD7607;
  }

  .registerHeader{
    font-size: 150px;
    font-family: Helvetica;
    font-weight: 600;
  }

  .welcomeHeader{
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 500;
  }