.reservation__cards{
    display: grid;
    gap: 1.5 rem;
}

.reservation__card{
    margin-top: 2rem;
    margin-left: 6rem;
    height: 680px;
    width: 500px;
    background: #f79110;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}